[submodule "examples/example-os"]
	path = examples/example-os
	url = https://github.com/waybyte/example-os.git
[submodule "examples/example-console"]
	path = examples/example-console
	url = https://github.com/waybyte/example-console.git
[submodule "examples/example-gps"]
	path = examples/example-gps
	url = https://github.com/waybyte/example-gps.git
[submodule "examples/example-display"]
	path = examples/example-display
	url = https://github.com/waybyte/example-display.git
[submodule "examples/example-gpio"]
	path = examples/example-gpio
	url = https://github.com/waybyte/example-gpio.git
[submodule "examples/example-pwm"]
	path = examples/example-pwm
	url = https://github.com/waybyte/example-pwm.git
[submodule "examples/example-spi"]
	path = examples/example-spi
	url = https://github.com/waybyte/example-spi.git
[submodule "examples/example-i2c"]
	path = examples/example-i2c
	url = https://github.com/waybyte/example-i2c.git
[submodule "examples/example-timer"]
	path = examples/example-timer
	url = https://github.com/waybyte/example-timer.git
[submodule "examples/example-uart"]
	path = examples/example-uart
	url = https://github.com/waybyte/example-uart.git
[submodule "examples/example-httpclient"]
	path = examples/example-httpclient
	url = https://github.com/waybyte/example-httpclient.git
[submodule "examples/example-socket"]
	path = examples/example-socket
	url = https://github.com/waybyte/example-socket
[submodule "examples/example-ssl-socket"]
	path = examples/example-ssl-socket
	url = https://github.com/waybyte/example-ssl-socket
[submodule "examples/hello-world"]
	path = examples/hello-world
	url = https://github.com/waybyte/hello-world-logicrom
[submodule "examples/example-ssl-socket-clientauth"]
	path = examples/example-ssl-socket-clientauth
	url = https://github.com/waybyte/example-ssl-socket-clientauth
[submodule "examples/example-adc"]
	path = examples/example-adc
	url = https://github.com/waybyte/example-adc
[submodule "examples/logicromsdk-blink"]
	path = examples/logicromsdk-blink
	url = https://github.com/waybyte/logicromsdk-blink.git
[submodule "examples/arduino-blink"]
	path = examples/arduino-blink
	url = https://github.com/waybyte/arduino-blink.git
